#countupsContainer{
    width:100%;
    display: flex;
    justify-content: space-evenly;
  }
.countup{
    text-align: center;
}

.numberText{
  text-shadow: 1px 1px 2px black;
}
.text{
  text-shadow: 1px 1px 2px black;
}