.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(42,67,101);
  background: radial-gradient(circle at 50% 30%, rgba(42,67,101,1) 0%, rgba(50,122,193,1) 50%, rgba(0,155,255,1) 100%);
  width: 100%;
  flex-grow: 1;
}
#intro{
  margin-bottom: 5vh;
  text-align: center;
}
#avatar{
  height:150px;
  width:150px;
  margin-top: 20vh;
  margin-bottom:15px;
}

.text{
  text-shadow: 1px 1px 2px black;
}